/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* a {
  text-decoration: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/************    variables      *************/
/***********   mixins      ********************/
/*************mixins end ******************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli', sans-serif;
}
nav {
  font-family: 'Slabo 27px', serif;
}
p {
  font-family: 'Josefin Sans', sans-serif;
}
html,
body {
  height: 100%;
}
p {
  font-size: 1.2rem;
}
.main-container {
  border: 3rem solid white;
  /* header closses */
  /* closing for silly */
  /* closes @media ******/
  /* main content closses   */
  /** @media closes ****/
  /** work-experience closses  */
  /** @media closes  ***/
  margin-left: 2rem;
  /**** contact stuff closes ******/
  /*** footer closes ******/
}
.main-container .links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1%;
  font-size: 1.6rem;
}
.main-container .links a {
  padding-right: 1.6rem;
  color: black;
}
.main-container header {
  background-color: #737afa;
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  /* h1 closses*/
  /* slogan closses*/
  /* tag-line closses  */
}
.main-container header .name-title {
  font-size: 3rem;
  margin: 0.5em 0.2em;
}
.main-container header .slogan {
  font-size: 2rem;
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.main-container header .tag-line {
  font-size: 1rem;
  margin: 1em 0.5em;
}
.main-container .silly {
  background-color: grey;
  font-size: 1.6rem;
  width: 10rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-top: 0.7rem;
  color: white;
  border-radius: 10%;
  margin-left: 1%;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .main-container {
    /** closes header   ****/
  }
  .main-container header {
    /** closes image-top  **/
  }
  .main-container header .image-top {
    display: none;
  }
}
.main-container .main-content {
  display: flex;
  width: 100%;
  /* h2 closing  */
  /*  h3    closses*/
  /* work experience closses  */
}
.main-container .main-content h2 {
  font-size: 2rem;
}
.main-container .main-content .aboutdiv {
  width: 45%;
  margin-right: 2%;
}
.main-container .main-content .skill-section {
  width: 49%;
}
.main-container .main-content h3 {
  font-size: 1.8rem;
}
.main-container .main-content h4 {
  font-size: 1.6rem;
  border: 1px solid grey;
  padding: 2%;
}
.main-container .main-content .work-experience {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .main-container {
    /* main-content closes  ***/
  }
  .main-container .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
  }
}
.main-container .work-experience {
  /*  title-line closses   */
  /* h3 closses  */
  /*  h4  closes*/
  /***** job1 closes   ****/
  /***** job 2 closes *****/
  /***** job 3 closes ******/
}
.main-container .work-experience .title-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid grey;
  padding-top: 2% ;
  padding-bottom: 2%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.main-container .work-experience h3 {
  font-size: 1.8rem;
}
.main-container .work-experience h4 {
  font-weight: bold;
  font-size: 1.6rem;
}
.main-container .work-experience .titleTitle {
  padding-right: 13rem;
}
.main-container .work-experience .job1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid grey;
  padding-top: 2% ;
  padding-bottom: 2%;
  background-color: whitesmoke;
  padding-left: 2rem;
}
.main-container .work-experience .co1 {
  padding-left: 2.8rem;
}
.main-container .work-experience .title1 {
  padding-left: 2rem;
}
.main-container .work-experience .tech1 {
  padding-right: 6.4rem;
}
.main-container .work-experience .job2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid grey;
  padding-top: 2% ;
  padding-bottom: 2%;
  padding-left: 2rem;
}
.main-container .work-experience .tech2 {
  padding-right: 3.8rem;
}
.main-container .work-experience .job3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid grey;
  padding-top: 2% ;
  padding-bottom: 2%;
  background-color: whitesmoke;
  padding-left: 2rem;
}
.main-container .work-experience .tech3 {
  padding-right: 4.7rem;
}
@media (max-width: 500px) {
  .main-container {
    /* work-experience closes  ***/
  }
  .main-container .work-experience {
    display: none;
  }
}
.main-container .contact-stuff {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 1%;
  /*********  h5 closses   *********************/
}
.main-container .contact-stuff h5 {
  font-size: 1.6rem;
  padding: 1%;
}
.main-container .contact-stuff .phone,
.main-container .contact-stuff .mail,
.main-container .contact-stuff .email {
  padding: 1%;
}
@media (max-width: 500px) {
  .main-container .contact-stuff {
    padding-left: 20%;
  }
}
.main-container footer {
  text-align: center;
  margin: 2% 1%;
  background-color: grey;
  color: white;
  padding: 2rem;
}
/****** main content closes **********/
